.headline {
  @include flexible(center, center, column);
  padding: 80px 0;
  &__title {
    width: 420px;
    margin-bottom: 20px;
    @include font(500, $xxl-text, 50px, $black-color);
    text-align: center;
  }
  &__subtitle {
    width: 555px;
    margin-bottom: 20px;
    @include font(400, $sm-text, 30px, $gray-color);
    text-align: center;
  }
  @media screen and (max-width:$sm-breakpoint) {
    padding: 40px 0;
    &__title,
    &__subtitle {
      width: auto;
    }
  }
}