.subscribe {
  @include flexible(center, space-between);
  padding: 58px 70px;
  background: white;
  border-radius: 10px;
  &--position {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    width: 50%;
  }
  &__title {
    margin-bottom: 20px;
    @include font(500, $xxl-text, 45px, $black-color);
  }
  &__subtitle {
    @include font(400, $sm-text, 30px, $gray-color);
  }
  &__button {
    width: 250px;
    height: 60px;
    padding: 17px 65px;
    @include font(700, $sm-text, 25px, $main-color);
    background: $error-color;
    border-radius: 10px;
  }
  @media screen and (max-width:$sm-breakpoint) {
    flex-direction: column;
    &__content {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}