//Typography
$xxxl-text:50px;
$xxl-text:35px;
$xl-text:25px;
$lg-text:20px;
$md-text:18px;
$sm-text:16px;
$xs-text:14px;
// Colors
$main-color: #FFFFFF;
$error-color:#F53855;
$black-color:#0B132A;
$gray-color: #4F5665;
//MEDIA QUERIES
$sm-breakpoint: 576px;
$md-breakpoint:768px;
$lg-breakpoint:992px;
$xl-breakpoint:1200px;